In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Import our data into pandas from CSV

data_2021_path = 'data/SGU/2021.csv'
data_2020_path = 'data/SGU/2020.csv'
data_2019_path = 'data/SGU/2019.csv'
data_2018_path = 'data/SGU/2018.csv'
data_2017_path = 'data/SGU/2017.csv'
data_2016_path = 'data/SGU/2016.csv'
data_2015_path = 'data/SGU/2015.csv'
data_2014_path = 'data/SGU/2014.csv'
data_2013_path = 'data/SGU/2013.csv'
data_2012_path = 'data/SGU/2012.csv'
data_2011_path = 'data/SGU/2011.csv'
data_2010_path = 'data/SGU/2010.csv'
data_2009_path = 'data/SGU/2009.csv'
data_2008_path = 'data/SGU/2008.csv'
data_2007_path = 'data/SGU/2007.csv'
data_2006_path = 'data/SGU/2006.csv'
data_2005_path = 'data/SGU/2005.csv'
data_2004_path = 'data/SGU/2004.csv'
data_2003_path = 'data/SGU/2003.csv'
data_2002_path = 'data/SGU/2002.csv'
data_2001_path = 'data/SGU/2001.csv'

sgu_2021_df = pd.read_csv(data_2021_path, low_memory=False)
sgu_2020_df = pd.read_csv(data_2020_path, low_memory=False)
sgu_2019_df = pd.read_csv(data_2019_path, low_memory=False)
sgu_2018_df = pd.read_csv(data_2018_path, low_memory=False)
sgu_2017_df = pd.read_csv(data_2017_path, low_memory=False)
sgu_2016_df = pd.read_csv(data_2016_path, low_memory=False)
sgu_2015_df = pd.read_csv(data_2015_path, low_memory=False)
sgu_2014_df = pd.read_csv(data_2014_path, low_memory=False)
sgu_2013_df = pd.read_csv(data_2013_path, low_memory=False)
sgu_2012_df = pd.read_csv(data_2012_path, low_memory=False)
sgu_2011_df = pd.read_csv(data_2011_path, low_memory=False)
sgu_2010_df = pd.read_csv(data_2010_path, low_memory=False)
sgu_2009_df = pd.read_csv(data_2009_path, low_memory=False)
sgu_2008_df = pd.read_csv(data_2008_path, low_memory=False)
sgu_2007_df = pd.read_csv(data_2007_path, low_memory=False)
sgu_2006_df = pd.read_csv(data_2006_path, low_memory=False)
sgu_2005_df = pd.read_csv(data_2005_path, low_memory=False)
sgu_2004_df = pd.read_csv(data_2004_path, low_memory=False)
sgu_2003_df = pd.read_csv(data_2003_path, low_memory=False)
sgu_2002_df = pd.read_csv(data_2002_path, low_memory=False)
sgu_2001_df = pd.read_csv(data_2001_path, low_memory=False)

In [3]:
sgu_2021_df

      Postcode  Installation  Output
0            0             0    0.00
1          200             0    0.00
2          800             3   48.49
3          801             0    0.00
4          803             0    0.00
...        ...           ...     ...
2797      7469             2   13.32
2798      7470             0    0.00
2799      7802             0    0.00
2800      8576             0    0.00
2801      9729             0    0.00

[2802 rows x 3 columns]

In [4]:
SGU_1_df = pd.merge(sgu_2001_df,sgu_2002_df, on = ["Postcode"],suffixes=('_2001', '_2002'), how = "outer")
SGU_2_df = pd.merge(sgu_2003_df,sgu_2004_df, on = ["Postcode"],suffixes=('_2003', '_2004'), how = "outer")
SGU_3_df = pd.merge(sgu_2005_df,sgu_2006_df, on = ["Postcode"],suffixes=('_2005', '_2006'), how = "outer")
SGU_4_df = pd.merge(sgu_2007_df,sgu_2008_df, on = ["Postcode"],suffixes=('_2007', '_2008'), how = "outer")
SGU_5_df = pd.merge(sgu_2009_df,sgu_2010_df, on = ["Postcode"],suffixes=('_2009', '_2010'), how = "outer")
SGU_6_df = pd.merge(sgu_2011_df,sgu_2012_df, on = ["Postcode"],suffixes=('_2011', '_2012'), how = "outer")
SGU_7_df = pd.merge(sgu_2013_df,sgu_2014_df, on = ["Postcode"],suffixes=('_2013', '_2014'), how = "outer")
SGU_8_df = pd.merge(sgu_2015_df,sgu_2016_df, on = ["Postcode"],suffixes=('_2015', '_2016'), how = "outer")
SGU_9_df = pd.merge(sgu_2017_df,sgu_2018_df, on = ["Postcode"],suffixes=('_2017', '_2018'), how = "outer")
SGU_10_df = pd.merge(sgu_2019_df,sgu_2020_df, on = ["Postcode"],suffixes=('_2019', '_2020'), how = "outer")

In [5]:

SGU_12_df = pd.merge(SGU_1_df,SGU_2_df, on = ["Postcode"], how = "outer")
SGU_34_df = pd.merge(SGU_3_df,SGU_4_df, on = ["Postcode"], how = "outer")
SGU_56_df = pd.merge(SGU_5_df,SGU_6_df, on = ["Postcode"], how = "outer")
SGU_78_df = pd.merge(SGU_7_df,SGU_8_df, on = ["Postcode"], how = "outer")
SGU_910_df = pd.merge(SGU_9_df,SGU_10_df, on = ["Postcode"], how = "outer")

SGU_1234_df = pd.merge(SGU_12_df,SGU_34_df, on = ["Postcode"], how = "outer")
SGU_5678_df = pd.merge(SGU_56_df,SGU_78_df, on = ["Postcode"], how = "outer")
SGU_91021_df = pd.merge(SGU_910_df,sgu_2021_df, on = ["Postcode"], how = "outer")

SGU_12345678_df = pd.merge(SGU_1234_df,SGU_5678_df, on = ["Postcode"], how = "outer")

combined_df = pd.merge(SGU_12345678_df,SGU_91021_df, on = ["Postcode"], how = "outer")
combined_df = combined_df.rename (columns ={'Installation' :'Installation_2021',
                             'Output' :'Output_2021'})
combined_df

,Postcode,Installation_2001,Output_2001,Installation_2002,Output_2002,Installation_2003,Output_2003,Installation_2004,Output_2004,Installation_2005,...,Installation_2017,Output_2017,Installation_2018,Output_2018,Installation_2019,Output_2019,Installation_2020,Output_2020,Installation_2021,Output_2021
0,0,0.0,0.0,2.0,2.58,0.0,0.0,1.0,0.98,1.0,...,0.0,0.000,0.0,0.00,0.0,0.00,0,0.00,0,0.00
1,200,0.0,0.0,0.0,0.00,0.0,0.0,1.0,0.08,0.0,...,0.0,0.000,0.0,0.00,0.0,0.00,0,0.00,0,0.00
2,800,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,1.0,...,5.0,281.890,11.0,527.74,40.0,682.48,11,526.04,3,48.49
3,801,0.0,0.0,0.0,0.00,0.0,0.0,2.0,3.44,0.0,...,1.0,24.840,1.0,31.86,0.0,0.00,1,99.99,0,0.00
4,803,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,...,1.0,5.565,0.0,0.00,0.0,0.00,0,0.00,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,2678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.000,0.0,0.00,0.0,0.00,1,39.60,0,0.00
2798,6219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.000,0.0,0.00,3.0,19.83,0,0.00,0,0.00
2799,6614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.000,0.0,0.00,1.0,6.60,0,0.00,0,0.00
2800,1685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00,1,4.80
2801,6452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00,1,6.60

In [6]:
combined_df.to_csv(r'data/SGU/Allyears.csv', index = False, header=True)

In [7]:
# Installation_df = combined_df[['Postcode','Installation_2001','Installation_2002','Installation_2003'
#                    ,'Installation_2004','Installation_2005','Installation_2006','Installation_2007'
#                     ,'Installation_2008','Installation_2009','Installation_2010','Installation_2011'
#                     ,'Installation_2012','Installation_2013','Installation_2014','Installation_2015'
#                    ,'Installation_2016','Installation_2017','Installation_2018','Installation_2019'
#                     ,'Installation_2020','Installation_2021']]
# Installation_df

In [8]:
# Output_df = combined_df[['Postcode','Output_2001','Output_2002','Output_2003'
#                    ,'Output_2004','Output_2005','Output_2006','Output_2007'
#                     ,'Output_2008','Output_2009','Output_2010','Output_2011'
#                     ,'Output_2012','Output_2013','Output_2014','Output_2015'
#                    ,'Output_2016','Output_2017','Output_2018','Output_2019'
#                     ,'Output_2020','Output_2021']]

# Output_df

In [9]:
Installation_df= pd.DataFrame({'Postcode':combined_df['Postcode'],
 '2001':combined_df['Installation_2001'],
 '2002':combined_df['Installation_2002'],
 '2003':combined_df['Installation_2003'],
 '2004':combined_df['Installation_2004'],
 '2005':combined_df['Installation_2005'],
 '2006':combined_df['Installation_2006'],
 '2007':combined_df['Installation_2007'],
 '2008':combined_df['Installation_2008'],
 '2009':combined_df['Installation_2009'],
 '2010':combined_df['Installation_2010'],
 '2011':combined_df['Installation_2011'],
 '2012':combined_df['Installation_2012'],
 '2013':combined_df['Installation_2013'],
 '2014':combined_df['Installation_2014'],
 '2015':combined_df['Installation_2015'],
 '2016':combined_df['Installation_2016'],
 '2017':combined_df['Installation_2017'],
 '2018':combined_df['Installation_2018'],
 '2019':combined_df['Installation_2019'],
 '2020':combined_df['Installation_2020'],
 '2021':combined_df['Installation_2021']})
Installation_df

,Postcode,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1,200,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
2,800,0.0,0.0,0.0,0.0,1.0,0.0,2.0,4.0,0.0,...,2.0,12.0,6.0,4.0,6.0,5.0,11.0,40.0,11,3
3,801,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,0
4,803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,2678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1,0
2798,6219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,3.0,0,0
2799,6614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0,0
2800,1685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
2801,6452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1

In [10]:
Installation_df = Installation_df.T
total = Installation_df.iloc[1:].sum()
total.name = 'Total'

Installation_df = Installation_df.append(total.transpose())
Installation_df = Installation_df.T
Installation_df

,Postcode,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
1,200.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,800.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,4.0,0.0,...,12.0,6.0,4.0,6.0,5.0,11.0,40.0,11.0,3.0,109.0
3,801.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,8.0
4,803.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,2678.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,0.0,1.0
2798,6219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,3.0,0.0,0.0,3.0
2799,6614.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0
2800,1685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0
2801,6452.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0

In [11]:
Output_df= pd.DataFrame({'Postcode':combined_df['Postcode'],
 '2001':combined_df['Output_2001'],
 '2002':combined_df['Output_2002'],
 '2003':combined_df['Output_2003'],
 '2004':combined_df['Output_2004'],
 '2005':combined_df['Output_2005'],
 '2006':combined_df['Output_2006'],
 '2007':combined_df['Output_2007'],
 '2008':combined_df['Output_2008'],
 '2009':combined_df['Output_2009'],
 '2010':combined_df['Output_2010'],
 '2011':combined_df['Output_2011'],
 '2012':combined_df['Output_2012'],
 '2013':combined_df['Output_2013'],
 '2014':combined_df['Output_2014'],
 '2015':combined_df['Output_2015'],
 '2016':combined_df['Output_2016'],
 '2017':combined_df['Output_2017'],
 '2018':combined_df['Output_2018'],
 '2019':combined_df['Output_2019'],
 '2020':combined_df['Output_2020'],
 '2021':combined_df['Output_2021']})
Output_df

,Postcode,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0,0.0,2.58,0.0,0.98,0.90,0.0,0.0,0.00,0.0,...,0.000,0.00,0.000,0.00,0.000,0.000,0.00,0.00,0.00,0.00
1,200,0.0,0.00,0.0,0.08,0.00,0.0,0.0,0.00,0.0,...,0.000,0.00,0.000,0.00,0.000,0.000,0.00,0.00,0.00,0.00
2,800,0.0,0.00,0.0,0.00,0.16,0.0,19.2,15.38,0.0,...,58.005,48.33,41.045,133.49,208.070,281.890,527.74,682.48,526.04,48.49
3,801,0.0,0.00,0.0,3.44,0.00,0.0,0.0,0.00,0.0,...,0.000,0.00,0.000,6.00,66.708,24.840,31.86,0.00,99.99,0.00
4,803,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.0,...,0.000,0.00,0.000,6.12,0.000,5.565,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,2678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000,0.00,0.00,39.60,0.00
2798,6219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000,0.00,19.83,0.00,0.00
2799,6614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000,0.00,6.60,0.00,0.00
2800,1685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4.80
2801,6452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,6.60

In [12]:
Output_df = Output_df.T
total = Output_df.iloc[1:].sum()
total.name = 'Total'

Output_df = Output_df.append(total.transpose())
Output_df = Output_df.T
Output_df

,Postcode,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
0,0.0,0.0,2.58,0.0,0.98,0.90,0.0,0.0,0.00,0.0,...,0.00,0.000,0.00,0.000,0.000,0.00,0.00,0.00,0.00,4.460
1,200.0,0.0,0.00,0.0,0.08,0.00,0.0,0.0,0.00,0.0,...,0.00,0.000,0.00,0.000,0.000,0.00,0.00,0.00,0.00,0.080
2,800.0,0.0,0.00,0.0,0.00,0.16,0.0,19.2,15.38,0.0,...,48.33,41.045,133.49,208.070,281.890,527.74,682.48,526.04,48.49,2595.580
3,801.0,0.0,0.00,0.0,3.44,0.00,0.0,0.0,0.00,0.0,...,0.00,0.000,6.00,66.708,24.840,31.86,0.00,99.99,0.00,234.858
4,803.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.0,...,0.00,0.000,6.12,0.000,5.565,0.00,0.00,0.00,0.00,11.685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,2678.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000,0.00,0.00,39.60,0.00,39.600
2798,6219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000,0.00,19.83,0.00,0.00,19.830
2799,6614.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000,0.00,6.60,0.00,0.00,6.600
2800,1685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4.80,4.800
2801,6452.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,6.60,6.600